/*
 * Empty Stylesheet file.
 */
/*
.mainFxmlClass {
  
}

.botonMiCuenta {
  
  -fx-background-color: transparent;
  -fx-border-color: blue;
  -fx-border-width: 2px;
  -fx-border-radius: 18px;

  -fx-background-radius: 18px;
    
}

.botonMiCuenta:hover {
      -fx-fill: blue;
      -fx-background-color: white;
      -fx-animated: initial;
 }
 .botonMiCuenta:pressed {
     -fx-background-color: #66ffff;
      
 }
 */
 
 
 

